@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto-Thin.ttf');
}

* {
  font-family: 'RobotoMono', 'monospace';
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(75, 108, 183), rgb(24, 40, 72));
}